* {
  padding: 0;
  margin: 0;
}

:root {
  width: 1440px;
  height: 100%;
  box-sizing: border-box;
  font-size: 15px;
  transition: 0.5s;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

header {
  margin: 5.93rem 11rem 3.73rem 11rem;
}

.main-nav {
  float: right;
}

.main-nav li {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  margin-left: 2.66rem;
}

.main-nav li a:link,
.main-nav li a:visited {
  text-decoration: none;
  color: hsl(236, 13%, 42%);
}

.main-nav li a:hover,
.main-nav li a:active {
  text-decoration: none;
  color: hsl(5, 85%, 63%);
}

.main-container {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-areas:
    "img img  sidebar"
    "column1 column2 sidebar"
    "card1 card2 card3";

  gap: 1rem;
  padding: 0 165px;
  padding-bottom: 130px;
}

.image-wrapper {
  width: 100%;
  grid-column: span 2;
}

.image-wrapper img {
  width: 100%;
  /* height: fit-content; */
}
.span-left {
  width: 60%;
  font-size: 2.5rem;
  font-weight: 800;
  word-spacing: 2px;
}
.text {
  display: flex;
  flex-direction: column;
  line-height: 1.5;

  color: hsl(236, 13%, 42%);
}

.btn {
  background-color: hsl(5, 85%, 63%);
  color: #fff;
  width: 40%;
  padding: 0.43em 0.2em;
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
}

.btn:hover,
.btn:active {
  background-color: rgb(8, 8, 8);
  transition: background-color;
}

.grid-2 {
  color: hsl(36, 100%, 99%);
  /* width: 23.33rem; */
  grid-area: sidebar;
  background-color: hsl(240, 100%, 5%);
  padding: 1.8rem 1.6rem;
}

.grid-2 h2 {
  /* margin-bottom: 2.4rem; */
  color: hsl(35, 77%, 62%);
  font-size: 2rem;
  padding-bottom: 20px;
}

.grid-2 p,
hr {
  color: hsl(236, 13%, 42%);
}

.grid-2 p {
  line-height: 1.5;
  padding-top: 10px;
}

.grid-2 a:link,
.grid-2 a:visited {
  color: hsl(36, 100%, 99%);
  text-decoration: none;
  font-weight: 700;
}

.grid-2 a:hover,
.grid-2 a:active {
  color: hsl(35, 77%, 62%);
  text-decoration: none;
}

.grid-2 hr {
  margin: 34px 0;
}

section {
  display: flex;
}

section > img {
  height: 127px;
  width: auto;
}

.inner-text {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.inner-text > p {
  color: hsl(236, 13%, 42%);

  line-height: 1.4;
  padding-bottom: 0;
}
.inner-text > h4 {
  width: 100%;
  padding: 15px 0;
  padding-top: 10px;
  font-size: 1.13rem;
  font-weight: 700;
}

.inner-text > h4 a {
  color: rgb(8, 8, 8);
  text-decoration: none;
  transition: color;
}

.inner-text > h4 a:hover,
.inner-text > h4 a:active {
  color: hsl(5, 85%, 63%);
}

h3 {
  color: hsl(233, 8%, 79%);
  font-size: 2.2rem;
}
