* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.banner {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(26, 40%, 92%);
}

/* -------------------------------- */
/* OUTER-BOX */
/* -------------------------------- */
.container {
  height: 450px;
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 2%;
  gap: 5%;
  background-color: hsl(0, 0%, 100%);
}

/* -------------------------------- */
/* IMAGE-PART */
/* -------------------------------- */
.image-container {
  /* flex: 6; */
  width: 50%;
}
.image-container img {
  width: 100%;
  border-radius: 2% 0 0 2%;
}

/* -------------------------------- */
/* TEXT-PART */
/* -------------------------------- */

/* HEADINGS */
h4 {
  /* border: 1px solid black; */
  margin: 30px 0 20px auto;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13.5px;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-family: "Fraunces", serif;
  padding-right: 55px;
  font-weight: 700;
  line-height: 100%;
}

/* TEXT */
.text-container {
  width: 50%;
  flex: 6;
}
.description {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  text-align: left;
  padding: 30px 20px 30px 5px;
  line-height: 150%;
}

/* PRICE */
.price {
  /* border: 1px solid black; */
  padding: 10px;
  /* margin: 20px 50px 20px 0; */
}
.price.one {
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces", serif;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
}
.price.two {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin: 0 10px auto 20px;
  padding: 0;
  color: hsl(211, 23%, 25%);
  text-decoration: line-through;
}

/* link */
a:link,
a:visited {
  text-decoration: none;
  border: 1px solid hsl(158, 36%, 37%);
  border-radius: 9px;
  padding: 10px 75px 10px 75px;
  margin: 20px 20px 20px -0.009rem;
  color: white;
  background-color: hsl(158, 36%, 37%);
  font-family: "Montserrat", serif;
  transition: background-color 250ms;
}
a:hover,
a:active {
  background-color: hsl(156, 42%, 18%);
}
